* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display";
    font-size: 14px;
}

h3 {
    font-size: 30px;
}

.topic {
    font-family: "Ubuntu";
    text-transform: uppercase;
}

.box {
    max-width: 904px;
    margin: auto;
}

header {
    padding: 75px 0 100px 0;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 570px;
    margin: auto;
}

.menu-link {
    text-transform: uppercase;
}

.menu-link:hover {
    color: var(--primaryColor)
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    max-width: 420px;
    margin-bottom: 90px;
}

.image {
    margin-bottom: 30px;
}

.topic {
    margin-bottom: 30px;
    text-transform: uppercase;
    color: rgb(168, 168, 168);
}

.title {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.load-more {
    margin: auto;
    margin-bottom: 70px;
    display: block;
    width: 160px;
    height: 60px;
    background: none;
    box-shadow: none;
}

.load-more::first-letter{
    text-transform: uppercase
}

.overlay {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;

    display: none;
    opacity: 0;

}


 .card:hover .overlay {
    display: block;
    opacity: 1;
}

.img-wrp {

    position: relative;

}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-BlackItalic.eot');
	src: local('Playfair Display SC Black Italic'), local('PlayfairDisplaySC-BlackItalic'),
		url('PlayfairDisplaySC-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-BlackItalic.woff') format('woff'),
		url('PlayfairDisplaySC-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-BoldItalic.eot');
	src: local('Playfair Display SC Bold Italic'), local('PlayfairDisplaySC-BoldItalic'),
		url('PlayfairDisplaySC-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-BoldItalic.woff') format('woff'),
		url('PlayfairDisplaySC-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Italic.eot');
	src: local('Playfair Display SC Italic'), local('PlayfairDisplaySC-Italic'),
		url('PlayfairDisplaySC-Italic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Italic.woff') format('woff'),
		url('PlayfairDisplaySC-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-BoldItalic.eot');
	src: local('Playfair Display-Bold Italic'), local('PlayfairDisplay-BoldItalic'),
		url('PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-BoldItalic.woff') format('woff'),
		url('PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Black.eot');
	src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
		url('PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Black.woff') format('woff'),
		url('PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-BlackItalic.eot');
	src: local('Playfair Display-Black Italic'), local('PlayfairDisplay-BlackItalic'),
		url('PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-BlackItalic.woff') format('woff'),
		url('PlayfairDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Regular.eot');
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Regular.woff') format('woff'),
		url('PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Bold.eot');
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Bold.woff') format('woff'),
		url('PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Black.eot');
	src: local('Playfair Display SC Black'), local('PlayfairDisplaySC-Black'),
		url('PlayfairDisplaySC-Black.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Black.woff') format('woff'),
		url('PlayfairDisplaySC-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('PlayfairDisplay-Italic.eot');
	src: local('Playfair Display-Italic'), local('PlayfairDisplay-Italic'),
		url('PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplay-Italic.woff') format('woff'),
		url('PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Bold.eot');
	src: local('Playfair Display SC Bold'), local('PlayfairDisplaySC-Bold'),
		url('PlayfairDisplaySC-Bold.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Bold.woff') format('woff'),
		url('PlayfairDisplaySC-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display SC';
	src: url('PlayfairDisplaySC-Regular.eot');
	src: local('Playfair Display SC Regular'), local('PlayfairDisplaySC-Regular'),
		url('PlayfairDisplaySC-Regular.eot?#iefix') format('embedded-opentype'),
		url('PlayfairDisplaySC-Regular.woff') format('woff'),
		url('PlayfairDisplaySC-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.eot');
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'),
        url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Regular.woff') format('woff'),
        url('Ubuntu-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Light.eot');
    src: local('Ubuntu Light'), local('Ubuntu-Light'),
        url('Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Light.woff') format('woff'),
        url('Ubuntu-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-LightItalic.eot');
    src: local('Ubuntu Light Italic'), local('Ubuntu-LightItalic'),
        url('Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-LightItalic.woff') format('woff'),
        url('Ubuntu-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Medium.eot');
    src: local('Ubuntu Medium'), local('Ubuntu-Medium'),
        url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Medium.woff') format('woff'),
        url('Ubuntu-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Italic.eot');
    src: local('Ubuntu Italic'), local('Ubuntu-Italic'),
        url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Italic.woff') format('woff'),
        url('Ubuntu-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Bold.eot');
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'),
        url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Bold.woff') format('woff'),
        url('Ubuntu-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-BoldItalic.eot');
    src: local('Ubuntu Bold Italic'), local('Ubuntu-BoldItalic'),
        url('Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-BoldItalic.woff') format('woff'),
        url('Ubuntu-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-MediumItalic.eot');
    src: local('Ubuntu Medium Italic'), local('Ubuntu-MediumItalic'),
        url('Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-MediumItalic.woff') format('woff'),
        url('Ubuntu-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
